<ul>
<% for (const post of posts) { %>
<li>
  <a href="<%- post.path %>"><%= post.title %></a>
  <small><time datetime="<%= post.date.toISOString() %>"><%= post.date.toLocaleDateString() %></time></small>
</li>
<% } %>
</ul>
