:root {
  --bg-color: #eee;
  --fg-color: #111;
  --link-color: #11e;
  --link-active-color: #00f;
  --link-visited-color: #33c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --fg-color: #eee;
    --link-color: #ee1;
    --link-active-color: #ff0;
    --link-visited-color: #cc3;
  }
}

html, body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a, a:link {
  color: var(--link-color);
}

a:active, a:hover {
  color: var(--link-active-color);
}

a:visited {
  color: var(--link-visited-color);
}

html {
  font-size: 62.5%; /* 10px = 10px / 1browser default(16px) = 62.5% */
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  > header {
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > nav {
      font-size: 2rem;
      font-weight: bold;
      margin-left: auto;
    }
  }

  > main {
    margin: 1rem;
    flex: 1;
  }

  > footer {
    margin: 2rem 1rem 1rem 1rem;
  }
}

@media (max-width: 960px) {
  body {
    > header {
      margin: .2rem .2rem .5rem .2rem;
    }

    > main {
      margin: .2rem;
    }
  }
}

figure {
  text-align: center;
  > * {
    max-width: 100%;
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css") only screen and (prefers-color-scheme:dark);
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css") only screen and (prefers-color-scheme:dark);
