:root.light-theme {
  --bg-color: #fff;
  --text-color: #333;
  --link-color: #07c;
  --link-active-color: #07c;
  --link-visited-color: #07c;
}

:root.dark-theme {
  --bg-color: #333;
  --text-color: #fff;
  --link-color: #09f;
  --link-active-color: #09f;
  --link-visted-color: #09f;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Sans+KR:wght@100;400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css") only screen and (prefers-color-scheme:light);
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css") only screen and (prefers-color-scheme:dark);

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 62.5%; /* 10px = 10px / 1browser default(16px) = 62.5% */
}

pre, code, tt, kbd {
  font-family: 'IBM Plex Mono', monospace;
}


a, a:link {
  color: var(--link-color);
}

a:active, a:hover {
  color: var(--link-active-color);
}

a:visited {
  color: var(--link-visited-color);
}

a.nolink {
  color: var(--text-color);
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    > h1 {
      background: url('/assets/img/iolo50.png') no-repeat;
      padding-left: 50px;
    }
    > nav {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  > main {
    flex: 1;
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
  }

  > footer {
    text-align: center;
  }
}

@media (min-width: 960px) {
  body {
    > header {
      > h1 {
        flex: 1;
      }
    }
  }
}

figure {
  text-align: center;
  > * {
    max-width: 100%;
  }
}

#themeCheck {
  appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #999;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

#themeCheck::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

#themeCheck:checked::before {
  left: 32px;
}
