<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf8">
    <title>Quest of Iolo</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <img src="/assets/img/iolo50.png" align="left">
      <h1>Quest of Iolo</h1>
      <nav>
        <span><a href="/">Home</a></span>
        <span><a href="/posts">Blog</a></span>
        <span><a href="/about">About</a></span>
      </nav>
    </header>
    <main>{{content}}</main>
    <footer>
      <p>&copy; 2023 IoloTheBard. All rights reserved.</p>
    </footer>
  </body>
</html>
